.form-container {
    background-image: url("../../assets/bg-form.jpg");
    width: 100%;
    margin-left: 303px;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4.35em;
    padding: 4em;
    background-color: hsl(0, 0%, 2%, 90%);
    color: #f6f6f6;
    width: 50%;
    min-width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.75em;
    width: 100%;
    min-width: none;
    input {
        width: 100%;
        height: 50px;
        font-size: 1.25rem;
        padding: 0 1em;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 3px solid #58287F;
        color: #fefefe;
    }
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 1em;
    .checkbox {
        background: transparent;
        border: 2px solid #58287F;
        width: 16px;
        height: 16px;
    }
}

.submit-button {
    width: 50%;
    height: 36px;
    border-radius: 50px;
    border: none;
    background-color: #58287F;
    color: #f6f6f6;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: #8544bb;
    }
}

.form-error {
    color: #AF9CD5;
    font-size: 0.75rem;
    align-self: flex-start;
    margin-top: -2.5em;
}

.image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3em
}

.image-temp {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #060606;
    border: 2px solid #58287F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fefefe;
    font-size: 4rem;
    cursor: pointer;
}

.image-input {
    display: none;
}

.image-label {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #060606;
    border: 2px solid #58287F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fefefe;
    font-size: 4rem;
    cursor: pointer;
}

.disclaimer {
    color: #AF9CD5;
    opacity: 0.6;
    margin-top: -2em;
}